html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  position: relative;
  box-sizing: border-box;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --main: #4396ff;
}

#wrapper {
  width: 100%;
  height: 100%;
  background: #eff3f7;
  font-size: 1.25em;
  font-weight: bold;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
}



#user {
  background: #2433404a;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background: #fff;
  border-radius: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  min-width: 35vw;
  max-width: 95vw;
  transition:
    opacity .3s ease,
    transform .3s ease;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#user label.input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em;
  width: 100%;
}
#user label > span {
  text-transform: uppercase;
  font-size: 0.75em;
}
input[type="email"], input[type="text"], input[type="password"] {
  padding: .75em 1em;
  border: none;
  border-radius: 2em;
  background: #00000011;
  outline: none;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}
.btn {
  padding: 1em 3em;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2em;
  font-size: .75em;
  margin-top: 2em;
  background: var(--main);
  color: #fff;
  cursor: pointer;
}
label[for="user-controller"] {
  text-transform: uppercase;
  font-size: .75em;
  text-align: center;
  margin-top: 2em;
  color: var(--main);
  cursor: pointer;
}

#user-controller:checked ~ [name="register"] {
  transform: translate3d(calc(-50% + 3em),-50%,0);
  opacity: 0;
  pointer-events: none;
}

#user-controller:not(:checked) ~ [name="login"] {
  transform: translate3d(calc(-50% - 3em),-50%,0);
  opacity: 0;
  pointer-events: none;
}


.todo-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  background: #fff;
  overflow: hidden;
}
.todo-container > nav {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0px 1em #00000015;
  color: #fff;
  background: var(--main);
}
.tasks-single {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  box-shadow: 0 1px #0000000F;
}
.tasks-single > .tasks-single-checkbox {
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 3px var(--main);
  margin-right: 1em;
}
.tasks-single input[type="checkbox"] {
  display: none;
}